.notification {
  position: absolute;
  left: var(--layout-padding);
  bottom: var(--layout-padding);
  display: flex;
  align-items: center;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  height: 38px;
  border-radius: 19px;
  background-color: rgba(0, 0, 0, 0.81);
}

.notification:not(:hover) {
  --close-opacity: 0.55;
}

.notification:hover {
  --close-opacity: 1;
}

.notification:not(._is-shown) {
  transform: scaleX(0);
  animation-name: hide;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}

.notification._is-shown {
  transform: scaleX(1);
  animation-name: show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes show {
  0% {transform: scaleX(0);}
  60% {transform: scaleX(1);}
  85% {transform: scaleX(1.1);}
  100% {transform: scaleX(1);}
}

@keyframes hide {
  0% {transform: scaleX(1);}
  100% {transform: scaleX(0);}
}

.notification > .mark {
  --icon-size: 12px;
  --icon-color: var(--accent-color);
}

.notification > .mark + .text {
  margin-left: 8px;
}

.notification > .text {
  --height: 16px;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification > .text + .close {
  margin-left: 24px;
}

.notification > .close {
  --icon-size: 10px;
  --icon-color: #fff;
  opacity: var(--close-opacity);
  transition-property: opacity;
}

@media (max-width: 800px) {
  .notification {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-radius: 0;
  }
}