.task {
  display: flex;
  align-items: center;
  height: var(--task-height, 40px);
}

.task > .circle {
  --size: 18px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: 7px;
  box-shadow: 0 0 0 1px var(--primary-color) inset;
}

.task > .circle:not(._is-checked) {
  --icon-color: transparent;
}

.task > .circle._is-checked {
  --icon-color: var(--primary-color);
}

.task > .circle > i {
  --icon-size: 10px;
}

.task > .text {
  margin-left: 12px;
  margin-right: auto;
  line-height: 1.33;
  color: var(--text-color);
  font-size: 15px;
}

.task > .avatar {
  --size: 19px;
  --font-size: 14px;
  flex-shrink: 0;
  margin-left: 12px;
}