.wrapper {
  margin-top: auto !important;
  margin-bottom: auto;
}

.wrapper .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px !important;
}

.wrapper .modal > p {
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.31;
  text-align: center;
}
