.container {
  --height: 38px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container .label {
  overflow: hidden;
  display: block;
  height: 16px;
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .icon {
  --icon-size: 8px;
  --color: var(--text-color);
  position: absolute;
  bottom: calc((var(--height) / 2) - (var(--icon-size) / 2));
  right: 10px;
}

.container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: var(--height);
  width: 100%;
  min-width: 0;
  padding-right: 30px;
  align-items: center;
  background-color: var(--divider-color);
  font-size: 13px;
  text-indent: 10px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container select:focus {
  outline: none;
}

.container select option:not(:disabled) {
  color: var(--text-color);
}