.info {
  flex-grow: 1;
  display: var(--display);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 0;
}

.info:not(._is-shown) {
  --display: none;
}

.info._is-shown {
  --display: flex;
}

.info .logo {
  --logo-size: 92px;
  flex-shrink: 0;
  position: relative;
  width: var(--logo-size);
  height: var(--logo-size);
}

.info .logo .preview {
  --logo-border-radius: 26px;
  --logo-font-size: 33px;
  position: relative;
}

.info .logo .upload_button {
  --height: 38px;
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  border-radius: 19px;
  transform: translateY(-50%);
}

.info .colors {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.info .colors .circle {
  --size: 25px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: var(--background);
  box-shadow: 0 0 0 1px var(--box-shadow-color) inset;
}

.info .colors .circle[data-color="none"] {
  --background: transparent;
  --box-shadow-color: var(--primary-color);
}

.info .colors .circle[data-color="blue"] {
  --background: var(--blue-gradient);
  --box-shadow-color: transparent;
}

.info .colors .circle[data-color="green"] {
  --background: var(--green-gradient);
  --box-shadow-color: transparent;
}

.info .colors .circle[data-color="pink"] {
  --background: var(--pink-gradient);
  --box-shadow-color: transparent;
}

.info .colors .circle:nth-of-type(n+2) {
  margin-left: 6px;
}

.info .input {
  --input-border-radius: 5px;
  --input-box-shadow-color: var(--divider-color);
  width: 100%;
  max-width: 500px;
  margin-top: 36px;
}
