.navigation {
  display: flex;
  margin-left: var(--layout-padding);
  margin-right: var(--layout-padding);
  box-shadow: 0 -1px var(--divider-color) inset;
}

.navigation > .tab {
  position: relative;
  overflow: hidden;
  margin-right: 12px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 13px;
  color: var(--color);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.navigation > .tab:not(._is-active):not(:hover) {
  --color: var(--caption-color);
  --opacity: 0;
}

.navigation > .tab:not(._is-active):hover {
  --color: var(--text-color);
  --opacity: 0;
}

.navigation > .tab._is-active {
  --color: var(--text-color);
  --opacity: 1;
}

.navigation > .tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  opacity: var(--opacity);
  transition-property: opacity;
}

.navigation > .new {
  overflow: hidden;
  flex-shrink: 0;
  margin-left: auto;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 13px;
  color: var(--primary-color);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation + .item {
  margin-top: 2px;
}

.empty {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 13px;
  text-align: center;
  color: var(--caption-color);
}

.all {
  --height: 20px;
  overflow: hidden;
  display: block;
  height: var(--height);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  line-height: var(--height);
  font-size: 13px;
  color: var(--primary-color);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loading {
  --top: 26px;
  --spinner-size: 24px;
}
