.suggestion {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.suggestion > .item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--background-color);
  transition-property: background-color;
  cursor: pointer;
}

.suggestion > .item:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.suggestion > .item:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.suggestion > .item:not(:hover) {
  --background-color: transparent;
}

.suggestion > .item:hover {
  --background-color: var(--divider-color);
}

.suggestion > .item > .avatar {
  --size: 30px;
  flex-shrink: 0;
}

.suggestion > .item > .name {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  margin-left: 12px;
  font-size: 15px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}
