.modal {
  display: flex;
  flex-direction: column;
}

.modal .search {
  flex-shrink: 0;
  margin-left: var(--layout-padding);
  margin-right: var(--layout-padding);
}

.modal .empty {
  --height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  height: var(--height);
  margin-top: 70px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  line-height: var(--height);
  font-size: 16px;
  text-align: center;
  color: var(--caption-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal .list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  margin-top: 8px;
  -webkit-overflow-scrolling: touch;
}

.modal .list .button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  background-color: var(--background-color);
  transition-property: background-color;
}

.modal .list .button:not(:hover) {
  --background-color: transparent;
}

.modal .list .button:hover {
  --background-color: var(--divider-color);
}

.modal .list .button .avatar {
  --size: 36px;
  flex-shrink: 0;
}

.modal .list .button .name {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  font-size: 16px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 12px;
}
