.message-item {
  --message-min-height: 36px;
  display: flex;
  width: 100%;
}

.message-item:not(._is-dropdown-shown):not(:hover) {
  --actions-opacity: 0;
}

.message-item:not(._is-dropdown-shown):hover {
  --actions-opacity: 1;
}

.message-item._is-dropdown-shown {
  --actions-opacity: 1;
}

.message-item.current-user {
  --actions-order: 1;
  --content-order: 2;
  --info-order: 3;
  --message-color: var(--text-color);
  --message-text-color: #fff;
  justify-content: flex-end;
}

.message-item.opponent-user {
  --actions-order: 3;
  --content-order: 2;
  --info-order: 1;
  --message-color: #f3f4f7;
  --message-text-color: var(--text-color);
  justify-content: flex-start;
}

.message-item > .check {
  --size: 22px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  margin-top: calc((var(--message-min-height) - var(--size)) / 2);
  border-radius: calc(var(--size) / 2);
  background-color: var(--background-color);
  box-shadow: 0 0 0 1px var(--primary-color) inset;
  transition-property: background-color;
}

.message-item > .check:not(._is-active) {
  --icon-color: transparent;
  --background-color: transparent;
}

.message-item > .check._is-active {
  --icon-color: #fff;
  --background-color: var(--primary-color);
}

.message-item > .check > i {
  --icon-size: 12px;
}

.message-item.current-user > .check {
  margin-right: auto;
}
.message-item.current-user > .check ~ .actions {
  margin-left: 12px;
}

.message-item.opponent-user > .check {
}
.message-item.opponent-user > .check ~ .info {
  margin-left: 12px;
}

.message-item > .actions {
  order: var(--actions-order);
  display: flex;
  align-items: center;
  margin-bottom: auto;
  opacity: var(--actions-opacity);
  transition-property: opacity;
}

.message-item.current-user > .actions {

}

.message-item.opponent-user > .actions {
  margin-left: 8px;
}

.message-item.current-user > .actions > .dropdown {
  order: 1;
}

.message-item.current-user > .actions > .button {
  order: 2;
}

.message-item.opponent-user > .actions > .dropdown {
  order: 2;
}

.message-item.opponent-user > .actions > .button {
  order: 1;
}

.message-item > .actions > .dropdown > button {
  --icon-size: 14px;
}

.message-item > .actions > .button {
  --icon-size: 14px;
  --button-padding: 6px;
  font-size: 13px;
}

.message-item.current-user > .content {
  align-items: flex-end;
}

.message-item.opponent-user > .content {
  align-items: flex-start;
}

.message-item.current-user > .content {
  margin-left: 8px;
}

.message-item > .content {
  order: var(--content-order);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  min-width: 0;
}

.message-item > .content:not(:hover) + .info {
  --time-opacity: 0;
}

.message-item > .content:hover + .info {
  --time-opacity: 1;
}

.message-item > .content > .dropdown {
  max-width: 100%;
}

.message-item > .content > .deleted_message_text {
  --height: 36px;
  overflow: hidden;
  max-width: 100%;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-item.opponent-user._is-first > .content .message_block {
  border-bottom-left-radius: 6px;
}
.message-item.opponent-user._is-middle > .content .message_block {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.message-item.opponent-user._is-last > .content .message_block {
  border-top-left-radius: 6px;
}

.message-item.current-user._is-first > .content .message_block {
  border-bottom-right-radius: 6px;
}
.message-item.current-user._is-middle > .content .message_block {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.message-item.current-user._is-last > .content .message_block {
  border-top-right-radius: 6px;
}

.message-item > .content .message_block + .gallery {
  margin-top: 2px;
}

.message-item > .content > .gallery_dropdown {

}

.message-item > .content .gallery {
  display: flex;
  flex-direction: column;
}

.message-item > .content .gallery > .image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  box-shadow: 0 0 0 1px var(--divider-color) inset;
  cursor: pointer;
}

.message-item > .content .gallery > .image:nth-of-type(n+2) {
  margin-top: 2px;
}

.message-item > .content .gallery > .image > img {

}

.message-item > .content .gallery + .todo,
.message-item > .content .message_block + .todo {
  margin-top: 4px;
}

.message-item > .content > .todo {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--divider-color) inset, 0 0 4px 0 rgba(196, 200, 210, 0.2);
}

.message-item.current-user > .info {
  --info-width: 20px;
  align-items: flex-end;
}

.message-item.opponent-user > .info {
  --info-width: calc(var(--avatar-size) + 8px);
  align-items: flex-start;
}

.message-item > .info {
  /* может 30? */
  --avatar-size: 29px;
  flex-shrink: 0;
  position: relative;
  order: var(--info-order);
  display: flex;
  flex-direction: column;
  width: var(--info-width);
}

.message-item.current-user > .info > .time {
  right: 0;
}

.message-item.opponent-user > .info > .time {
  left: 0;
}

.message-item > .info > .error_dropdown {
  margin-top: auto;
}

.message-item > .info > .error_dropdown > .error_dropdown_button {
  --height: var(--info-width);
}

.message-item > .info > .error_dropdown > .error_dropdown_button:not(:hover) {
  --color: var(--error-color);
}

.message-item > .info > .error_dropdown > .error_dropdown_button:hover {
  --color: #a90418;
}

.message-item > .info > .avatar_wrap {
  margin-top: auto;
}

.message-item > .info > .avatar_wrap > .avatar {
  --size: var(--avatar-size);
  --font-size: 11px;
}

.message-item > .info > .avatar_wrap + .mark {
  margin-top: 0;
}

.message-item > .info > .mark {
  position: relative;
  width: 16px;
  height: 8px;
  margin-top: auto;
}

.message-item > .info > .mark > i {
  --icon-size: 8px;
  --icon-color: var(--primary-color);
  position: absolute;
}

.message-item > .info > .mark > i:nth-of-type(1) {
  left: 6px;
}

.message-item > .info > .mark > i:nth-of-type(2) {
  left: 2px;
}

.message-item > .info > .time {
  --height: 24px;
  z-index: 1;
  position: absolute;
  top: calc((var(--message-min-height) - var(--height)) / 2);
  height: var(--height);
  padding-left: 6px;
  padding-right: 6px;
  line-height: var(--height);
  font-size: 13px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  opacity: var(--time-opacity);
  transition-property: opacity;
}

@media (max-width: 1024px) {
  .message-item > .content .message_block {
    max-width: 100%;
  }

  .message-item > .info > .time {
    display: none;
  }

  .message-item > .actions {
    display: none;
  }
}