.input {
  height: 20px;
  max-height: 120px;
  margin-left: 12px;
  padding: 0;
  line-height: 1.3;
  font-size: 15px;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  resize: none;
}

.input::placeholder {
  color: var(--caption-color);
}