* + .container {
  padding-top: 6px;
}

.container {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding-bottom: 6px;
}

.container > .textarea {
  width: 100%;
  height: 20px;
  max-height: 120px;
  line-height: 1.33;
  padding: 0;
  resize: none;
  font-size: 15px;
  background-color: transparent;
  border: 0;
}

.container > .textarea::placeholder {
  color: var(--caption-color);
}
