.multiply {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 78px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-shadow: 0 -2px 8px 0 rgba(196, 200, 210, 0.23);
}

.multiply > .button {
  --height: 38px;
}

.multiply > .button:last-of-type {
  margin-left: auto;
}

.multiply > .button:nth-of-type(n+2):not(:last-of-type) {
  margin-left: 12px;
}
