.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.modal > .loading {
  position: absolute;
}

.modal > .search {
  flex-shrink: 0;
  width: 100%;
  margin-top: 130px;
}

.modal > .users {
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 0;
  margin-top: 12px;
}

.modal > .users > .person {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--background-color);
  transition-property: background-color;
}

.modal > .users > .person:not(:hover) {
  --background-color: transparent
}

.modal > .users > .person:hover {
  --background-color: var(--divider-color);
}

.modal > .users > .person > .avatar {
  --size: 38px;
  flex-shrink: 0;
}

.modal > .users > .person > .name {
  --height: 16px;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  margin-left: 12px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}
