.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: var(--margin-right);
  background-color: #fff;
  transition-property: margin-right;
}

.panel:not(._is-shown) {
  --margin-right: calc(var(--panel-width) * -1);
}

.panel._is-shown {
  --margin-right: 0;
}

.panel > .loading {
  --left: 1px;
}

.panel > .close {
  --height: var(--info-height);
  flex-shrink: 0;
  margin-left: auto;
}

.panel > .scroll {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
}

.panel > .scroll > .header {
  padding: 22px var(--layout-padding);
}

.panel > .scroll > .header > .avatar {
  --size: 70px;
  margin-left: auto;
  margin-right: auto;
}

.panel > .scroll > .header > .name {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  line-height: var(--height);
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel > .scroll > .header > .subcaption {
  --height: 16px;
  overflow: hidden;
  height: var(--height);
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  line-height: var(--height);
  font-size: 14px;
  color: var(--caption-color);
  text-align: center;
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel > .scroll > .button {
  --icon-size: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  text-align: left;
}

.panel > .scroll > .button:not(:hover) {
  --color: var(--text-color);
}

.panel > .scroll > .button:hover {
  --color: var(--primary-color);
}

.panel > .scroll > .button i {
  --icon-color: var(--primary-color);
  flex-shrink: 0;
  width: 24px;
}

.panel > .scroll > .button span {
  --height: 18px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  margin-left: 18px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--color);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.panel > .scroll > .button + .collapse {
  margin-top: 20px;
}

.panel > .scroll > .collapse {
  box-shadow: 0 1px var(--divider-color) inset;
}

.panel > .scroll > .collapse:not(._is-open) {
  --list-display: none;
  --icon-transform: rotate(90deg);
}

.panel > .scroll > .collapse._is-open {
  --list-display: block;
  --icon-transform: rotate(-90deg);
}

.panel > .scroll > .collapse > .collapse_button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.panel > .scroll > .collapse > .collapse_button:not(:hover) {
  --color: var(--caption-color);
  --icon-color: #cfd1d4;
}

.panel > .scroll > .collapse > .collapse_button:hover {
  --icon-color: var(--primary-color);
  --color: var(--primary-color);
}

.panel > .scroll > .collapse > .collapse_button span {
  --height: 16px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 14px;
  color: var(--color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.panel > .scroll > .collapse > .collapse_button i {
  --icon-size: 14px;
  flex-shrink: 0;
  margin-left: 12px;
  transform: var(--icon-transform);
  transition-property: background-color, transform;
}

.panel > .scroll > .collapse > .collapse_list {
  overflow-y: auto;
  overflow-x: hidden;
  display: var(--list-display);
  max-height: 200px;
  padding-top: 8px;
  padding-bottom: 26px;
}

.panel > .scroll > .collapse > .collapse_list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.panel > .scroll > .collapse > .collapse_list::-webkit-scrollbar-thumb {
  border-radius: 1.5px;
}

.panel > .scroll > .collapse > .collapse_list > .person {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  background-color: var(--background-color);
  transition-property: background-color;
}

.panel > .scroll > .collapse > .collapse_list > .person:not(:hover) {
  --background-color: transparent;
}

.panel > .scroll > .collapse > .collapse_list > .person:hover {
  --background-color: var(--divider-color);
}

.panel > .scroll > .collapse > .collapse_list > .person > .avatar {
  --size: 30px;
  flex-shrink: 0;
}

.panel > .scroll > .collapse > .collapse_list > .person > p {
  --height: 20px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  margin-left: 6px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--text-color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel > .scroll > .collapse > .collapse_list > .person > span {
  --height: 20px;
  flex-shrink: 0;
  min-width: 0;
  height: var(--height);
  margin-left: 6px;
  line-height: var(--height);
  font-size: 13px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
}

.panel > .scroll > .collapse > .collapse_list > .person > .dropdown {
  flex-shrink: 0;
  margin-left: 4px;
}

.panel > .scroll > .collapse > .collapse_list > .person > .dropdown > button {
  --icon-size: 12px;
  margin-right: calc(((var(--height) - var(--icon-size)) / 2) * -1);
}
