.new {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  min-height: 0;
}

.new > .sidebar {
  flex-shrink: 0;
}

.new > .content {
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  min-height: 0;
}