.chat {
  --info-height: 58px;
  --sidebar-width: 25%;
  --panel-width: 20%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
}

.chat > .sidebar_panel {
  flex-shrink: 0;
}

.chat > .sidebar {
  flex-shrink: 0;
  width: var(--sidebar-width);
  box-shadow: -1px 0 var(--divider-color) inset;
}

.chat > .content {
  flex-grow: 1;
  min-width: 0;
}

.chat > .modal_wrapper {
  flex-grow: 1;
  min-width: 0;
}

.chat > .panel {
  flex-shrink: 0;
  width: var(--panel-width);
  box-shadow: 1px 0 var(--divider-color) inset;
}

.chat > .content._is-modals-shown {
  display: none !important;
}

.chat > .panel._is-modals-shown {
  display: none !important;
}

@media (max-width: 1280px) {
  .chat {
    --sidebar-width: 300px;
    --panel-width: 250px;
  }
}

@media (max-width: 1024px) {
  .chat {
    --sidebar-width: 300px;
    --panel-width: calc((100vw - var(--sidebar-width) - var(--sidebar-panel-width)) / 2);
  }

  .chat .panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 800px) {
  .chat {
    --sidebar-width: calc(100% - var(--sidebar-panel-width));
    --panel-width: 100%;
  }

  .chat:not(._is-open) {
    --sidebar-display: flex;
    --content-display: none;
  }

  .chat._is-open {
    --sidebar-display: none;
    --content-display: flex;
  }

  .chat .sidebar {
    flex-shrink: 0;
    display: var(--sidebar-display);
    width: var(--sidebar-width);
    max-width: calc(100% - var(--sidebar-panel-width));
    box-shadow: -1px 0 var(--divider-color) inset;
  }

  .chat .content {
    display: var(--content-display);
  }

  .chat .panel {
    z-index: 1;
    flex-shrink: 0;
    box-shadow: 1px 0 var(--divider-color) inset;
  }
}
