.chat {
  --info-height: 50px;
  --panel-width: 240px;
  flex-grow: 1;
  display: flex;
  min-height: 0;
}

.chat .sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: -1px 0 var(--divider-color) inset;
}

.chat .sidebar .header {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  height: var(--info-height);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.chat .sidebar .header h1 {
  --height: 40px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-family: var(--font-family-title);
  font-size: 26px;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat .sidebar .header .image {
  --size: 40px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  margin-left: 12px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--size) / 2);
}

.chat .sidebar .header .button {
  flex-shrink: 0;
  margin-left: 10px;
}

.chat .sidebar .search {
  flex-shrink: 0;
  margin-top: 8px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.chat .sidebar .search .search_container {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--divider-color);
  border-radius: 10px;
}

.chat .sidebar .search .search_container i {
  --icon-size: 16px;
  --icon-color: var(--caption-color);
  flex-shrink: 0;
}

.chat .sidebar .search .search_container input {
  flex-grow: 1;
  min-width: 0;
  margin-left: 10px;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
  font-size: 15px;
}

.chat .sidebar .search .search_container input::placeholder {
  color: var(--caption-color);
}

.chat .sidebar .navigation {
  flex-shrink: 0;
  display: flex;
  margin-top: 4px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-shadow: 0 -1px var(--divider-color) inset;
}

.chat .sidebar .navigation button {
  flex-grow: 1;
  position: relative;
  height: 44px;
  font-size: 16px;
  font-weight: var(--font-weight);
  color: var(--text-color);
}

.chat .sidebar .navigation button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: var(--line-opacity);
  transition-property: opacity;
}

.chat .sidebar .navigation button:not(._is-active):not(:hover) {
  --line-opacity: 0;
  --font-weight: var(--font-weight-regular);
}

.chat .sidebar .navigation button:not(._is-active):hover {
  --line-opacity: 1;
  --font-weight: var(--font-weight-regular);
}

.chat .sidebar .navigation button._is-active {
  --line-opacity: 1;
  --font-weight: var(--font-weight-bold);
}

.chat .sidebar .list {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.chat .sidebar .list .subscription {
  flex-shrink: 0;
}

.chat .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.chat .content .header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: var(--info-height);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-shadow: 0 -1px var(--divider-color) inset;
}

.chat .content .header button {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  color: var(--text-color);
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat .content .header .count {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--caption-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat .content .messages {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
}

.chat .content .input_container {
  flex-shrink: 0;
  height: 62px;
  box-shadow: 0 1px var(--divider-color) inset;
}

.chat .panel {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: var(--panel-width);
  margin-right: var(--margin-right);
  box-shadow: 1px 0 var(--divider-color) inset;
  transition-property: margin-right;
}

.chat .panel:not(._is-shown) {
  --margin-right: calc(var(--panel-width) * -1);
}

.chat .panel._is-shown {
  --margin-right: 0;
}

.chat .panel .close {
  --height: var(--info-height);
  flex-shrink: 0;
  margin-left: auto;
}
