.modal {
  display: flex;
}

.modal > .circle {
  --size: 18px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  margin-top: calc((38px - var(--size)) / 2);
  border-radius: 7px;
  box-shadow: 0 0 0 1px var(--primary-color) inset;
}

.modal > .section {
  flex-grow: 1;
  min-width: 0;
  margin-left: 2px;
}

.modal > .section > .header {
  display: flex;
  align-items: center;
}

.modal > .section > .header > .title {
  --input-height: 38px;
  flex-grow: 1;
  min-width: 0;
}

.modal > .section > .header > .dropdown {
  flex-shrink: 0;
}

.modal > .section > .header > .dropdown > .person {
  --height: 38px;
  border-radius: calc(var(--height) / 2);
}

.modal > .section > .header > .avatar {
  --size: 38px;
  flex-shrink: 0;
}
