.list {
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  padding-top: 20px;
}

.list:not(._is-gallery-open) {
  overflow-y: auto;
}

.list._is-gallery-open {
  overflow-y: hidden;
}

.list > .load_more {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.list > .load_more + * {
  margin-top: 20px;
}

.list > .item:first-child {
  margin-top: auto;
}

.list .empty {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list > .item {
  flex-shrink: 0;
}

.list > .message + .message {
  margin-top: 2px;
}