.files {

}

.files .file_item {
  display: flex;
  align-items: center;
  position: relative;
}

.files .file_item > .file_loading {
  --loading-background-color: transparent;
  --spinner-size: 16px;
  --spinner-section-color: transparent;
  position: relative;
  width: 16px;
  height: 16px;
}

.files .file_item > i {
  --icon-size: 16px;
  --icon-color: var(--caption-color);
  flex-shrink: 0;
}

.files .file_item .title {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  margin-left: 10px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.files .file_item .size {
  --height: 20px;
  flex-shrink: 0;
  height: var(--height);
  margin-left: 4px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--caption-color);
}

.files .file_item .delete {
  --size: 18px;
  z-index: 3;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  margin-left: 10px;
  border-radius: calc(var(--size) / 2);
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.files .file_item .delete {
}

.files .file_item .delete:not(:hover) {
  --icon-color: var(--caption-color);
}

.files .file_item .delete:hover {
  --icon-color: var(--text-color);
}

.files .file_item .delete i {
  --icon-size: 8px;
  flex-shrink: 0;
}