.error {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.error > i {
  --icon-size: 100px;
  --icon-color: var(--error-color);
  margin-left: auto;
  margin-right: auto;
}

.error > h1 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.error > * + .title {
  margin-top: 30px;
}

.error > .title + *:not(.title) {
  margin-top: 16px;
}

.error > *:not(.title) + .subtitle {
  margin-top: 16px;
}

.error > .subtitle + *:not(.subtitle) {
  margin-top: 10px;
}

.error > .title {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
}

.error > .subtitle {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

.error > .normal_text {
  padding: 10px;
  border-radius: 6px;
  background-color: #ced1ec;
  font-size: 15px;
}

.error > .error_text {
  padding: 10px;
  border-radius: 6px;
  background-color: #ffd6d6;
  font-size: 15px;
}

.error > pre {
  overflow-x: auto;
}

@media (max-width: 800px) {
  .error {
    width: 90%;
  }
}