.wrapper {
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.modal > .navigation {
  flex-shrink: 0;
  width: 100%;
}

.modal > .navigation + .logo {
  margin-top: 130px;
}

.modal > .logo {
  --logo-size: 92px;
  flex-shrink: 0;
  position: relative;
  width: var(--logo-size);
  height: var(--logo-size);
}

.modal > .logo > .preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--logo-size);
  height: var(--logo-size);
  background: var(--background);
  border-radius: 26px;
  box-shadow: 0 0 0 1px var(--box-shadow-color) inset;
  transition-property: background, box-shadow;
}

.modal > .logo > .preview::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: inherit;
}

.modal > .logo > .preview[data-color="none"] {
  --background: transparent;
  --box-shadow-color: var(--divider-color);
  --color: #9ca0b0;
}

.modal > .logo > .preview[data-color="blue"] {
  --background: var(--blue-gradient);
  --box-shadow-color: transparent;
  --color: #fff;
}

.modal > .logo > .preview[data-color="green"] {
  --background: var(--green-gradient);
  --box-shadow-color: transparent;
  --color: #fff;
}

.modal > .logo > .preview[data-color="pink"] {
  --background: var(--pink-gradient);
  --box-shadow-color: transparent;
  --color: #fff;
}

.modal > .logo > .preview > .text {
  --height: 24px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 33px;
  font-weight: var(--font-weight-medium);
  color: var(--color);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.modal > .logo .upload_button {
  --height: 38px;
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  border-radius: 19px;
  transform: translateY(-50%);
}

.modal > .colors {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.modal > .colors > .circle {
  --size: 25px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: var(--background);
  box-shadow: 0 0 0 1px var(--box-shadow-color) inset;
}

.modal > .colors > .circle[data-color="none"] {
  --background: transparent;
  --box-shadow-color: var(--primary-color);
}

.modal > .colors > .circle[data-color="blue"] {
  --background: var(--blue-gradient);
  --box-shadow-color: transparent;
}

.modal > .colors > .circle[data-color="green"] {
  --background: var(--green-gradient);
  --box-shadow-color: transparent;
}

.modal > .colors > .circle[data-color="pink"] {
  --background: var(--pink-gradient);
  --box-shadow-color: transparent;
}

.modal > .colors > .circle:nth-of-type(n+2) {
  margin-left: 6px;
}

.modal > .input {
  --input-border-radius: 5px;
  --input-box-shadow-color: var(--divider-color);
  width: 100%;
  max-width: 500px;
  margin-top: 36px;
}
