.sidebar {
  --sidebar-padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.sidebar .header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: var(--info-height);
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
}

.sidebar .header .logo {
  flex-shrink: 0;
  display: flex;
  margin-right: auto;
}

.sidebar .header .logo .circle {
  --size: 10px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: var(--text-color);
}

.sidebar .header .logo .circle:nth-of-type(1) {
  margin-top: 4px;
}

.sidebar .header .logo .circle:nth-of-type(2) {
  margin-top: 4px;
}

.sidebar .header .logo .circle:nth-of-type(3) {
}

.sidebar .header .logo .circle:nth-of-type(n+2) {
  margin-left: 2px;
}

.sidebar .header .dropdown {
  --size: 38px;
  flex-shrink: 0;
  margin-left: 12px;
  height: var(--size);
}

.sidebar .header .dropdown > button {
  position: relative;
  width: var(--size);
  height: var(--size);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--size) / 2);
}

.sidebar .header .dropdown > button .counter {
  position: absolute;
  top: 0px;
  right: -8px;
}

.sidebar .header .button {
  --height: 38px;
  --icon-size: 18px;
  flex-shrink: 0;
  margin-left: 10px;
}

.sidebar .header .button.task {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--height);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  background-color: var(--background-color);
  transition-property: background-color;
}

.sidebar .header .button.task > i circle {
  fill: var(--icon-color);
  transition-property: fill;
}

.sidebar .header .button.task:not(._is-active) {
  --background-color: #f3f4f7;
  --icon-color: var(--text-color);
}

.sidebar .header .button.task._is-active {
  --background-color: var(--text-color);
  --icon-color: #fff;
}

.sidebar .section {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 55px;
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
}

.sidebar .section:not(:hover) {
  --settings-pointer-events: none;
  --settings-opacity: 0;
}

.sidebar .section:hover {
  --settings-pointer-events: auto;
  --settings-opacity: 1;
}

.sidebar .section > .title {
  --height: 24px;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .section > .button {
  --height: 38px;
  --icon-size: 18px;
  flex-shrink: 0;
  opacity: var(--settings-opacity);
  pointer-events: var(--settings-pointer-events);
  transition-property: opacity;
}

.sidebar .search {
  --input-height: 36px;
  --input-border-radius: 10px;
  flex-shrink: 0;
  margin-left: var(--sidebar-padding);
  margin-right: var(--sidebar-padding);
  margin-top: 14px;
}

.sidebar .list {
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  margin-top: 16px;
}