.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.sidebar .header {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  height: var(--info-height);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.sidebar .header h1 {
  --height: 40px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-family: var(--font-family-title);
  font-size: 26px;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .header .dropdown {
  --size: 40px;
  flex-shrink: 0;
  margin-left: 12px;
  height: var(--size);
}

.sidebar .header .dropdown > button {
  width: var(--size);
  height: var(--size);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--size) / 2);
}

.sidebar .header .button {
  --height: 40px;
  flex-shrink: 0;
  margin-left: 10px;
}

.sidebar .search {
  flex-shrink: 0;
  margin-top: 8px;
  margin-left: var(--layout-padding);
  margin-right: var(--layout-padding);
}

.sidebar .navigation {
  flex-shrink: 0;
  display: flex;
  margin-top: 4px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-shadow: 0 -1px var(--divider-color) inset;
}

.sidebar .navigation button {
  flex-grow: 1;
  position: relative;
  height: 44px;
  font-size: 16px;
  text-align: center;
  font-weight: var(--font-weight);
  color: var(--text-color);
}

.sidebar .navigation button:not(._is-active):not(:hover) {
  --font-weight: var(--font-weight-regular);
}

.sidebar .navigation button:not(._is-active):hover {
  --font-weight: var(--font-weight-regular);
}

.sidebar .navigation button._is-active {
  --font-weight: var(--font-weight-bold);
}

.sidebar .list {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-overflow-scrolling: touch;
}

.sidebar .list .title {
  --height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  height: var(--height);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  line-height: var(--height);
  font-size: 14px;
  font-weight: var(--font-weight-light);
  color: var(--caption-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .list .title + * {
  margin-top: 8px;
}

.sidebar .list * + .title {
  margin-top: 20px;
}

.sidebar .list .contact {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  background-color: var(--background-color);
  transition-property: background-color;
  cursor: pointer;
}

.sidebar .list .contact:not(:hover) {
  --background-color: transparent;
}

.sidebar .list .contact:hover {
  --background-color: var(--divider-color);
}

.sidebar .list .contact .avatar {
  --size: 32px;
  flex-shrink: 0;
}

.sidebar .list .contact .name {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  margin-left: 6px;
  font-size: 15px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .list .empty {
  --height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: 15px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .list .subscription {
  flex-shrink: 0;
}

.sidebar .loading {
  --right: 1px;
}