.sidebar {
  --sidebar-padding: 12px;
  --divider-color: #f3f4f7;

  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.sidebar .header {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  height: var(--info-height);
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
}

.sidebar .header h1 {
  --height: 38px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .header .dropdown {
  --size: 38px;
  flex-shrink: 0;
  margin-left: 12px;
  height: var(--size);
}

.sidebar .header .dropdown > button {
  width: var(--size);
  height: var(--size);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--size) / 2);
}

.sidebar .header .button {
  --height: 38px;
  --icon-size: 18px;
  flex-shrink: 0;
  margin-left: 10px;
}

.sidebar .search {
  flex-shrink: 0;
  margin-left: var(--sidebar-padding);
  margin-right: var(--sidebar-padding);
}

.sidebar .navigation {
  flex-shrink: 0;
  display: flex;
  margin-top: 16px;
  margin-left: var(--sidebar-padding);
  margin-right: var(--sidebar-padding);
  background-color: var(--divider-color);
  border-radius: 5px;
}

.sidebar .navigation button {
  --text-color: #9ca0b0;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  height: 38px;
  font-size: 15px;
  text-align: center;
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--bg-color);
  transition-property: color;
}

.sidebar .navigation button:first-of-type:not(._is-active) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar .navigation button:last-of-type:not(._is-active) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar .navigation button:not(._is-active):not(:hover) {
  --font-weight: var(--font-weight-medium);
  --bg-color: var(--divider-color);
}

.sidebar .navigation button:not(._is-active):hover {
  --font-weight: var(--font-weight-medium);
  --text-color: #000;
}

.sidebar .navigation button._is-active {
  --font-weight: var(--font-weight-bold);
  --text-color: #252c43;
  --bg-color: #fff;

  border-radius: 5px;
  box-shadow: inset 0 0 0 1px var(--divider-color);
}

.sidebar .list {
  position: relative;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
}