.icon {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--icon-color);
  mask-image: var(--data);
  mask-size: var(--icon-size) var(--icon-size);
  mask-position: center;
  mask-repeat: no-repeat;
  transition-property: background-color;
  pointer-events: none;
}

.icon[data-icon="add-chat"] {
  --data: url('/assets/icons/add-chat.svg');
}

.icon[data-icon="search"] {
  --data: url('/assets/icons/search.svg');
}

.icon[data-icon="arrow-right"] {
  --data: url('/assets/icons/arrow.svg');
}

.icon[data-icon="arrow-left"] {
  --data: url('/assets/icons/arrow.svg');
  transform: rotate(180deg);
}

.icon[data-icon="arrow-down"] {
  --data: url('/assets/icons/arrow.svg');
  transform: rotate(90deg);
}

.icon[data-icon="share"] {
  --data: url('/assets/icons/share.svg');
}

.icon[data-icon="folder"] {
  --data: url('/assets/icons/folder.svg');
}

.icon[data-icon="notification"] {
  --data: url('/assets/icons/notification.svg');
}

.icon[data-icon="attach"] {
  --data: url('/assets/icons/attach.svg');
}

.icon[data-icon="close"] {
  --data: url('/assets/icons/close.svg');
}
