.navigation {
  display: flex;
  justify-content: center;
}

.navigation > .item {
  --height: 38px;
  overflow: hidden;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: var(--color);
  text-align: center;
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: var(--box-shadow);
  transition-property: color, box-shadow;
}

.navigation > .item + .item {
  margin-left: 16px;
}

.navigation > .item:not(:global(._is-active)):not(:hover) {
  --color: var(--caption-color);
  --box-shadow: none;
}

.navigation > .item:not(:global(._is-active)):hover {
  --color: var(--text-color);
  --box-shadow: none;
}

.navigation > .item:global(._is-active) {
  --color: var(--text-color);
  --box-shadow: 0 -1px var(--primary-color) inset;
}