.container {
  --switch-height: 27px;
  --switch-width: calc(var(--switch-height) * 1.9);
  --button-color: #61e839;
  --track-color: #c6f6b9;
  display: flex;
  align-items: center;
}

.container > .checkbox_wrapper {
}

.container > .checkbox_wrapper > input {
  position: absolute;
  visibility: hidden;
}

.container > .checkbox_wrapper > .switch {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-height) / 2);
  background-color: var(--background-color);
  cursor: pointer;
  transition-property: background-color;
}

.container > .checkbox_wrapper > .switch:not(._is-checked) {
  --background-color: var(--divider-color);
  --circle-color: var(--caption-color);
  --circle-margin-left: 0;
  box-shadow: none;
}

.container > .checkbox_wrapper > .switch._is-checked {
  --background-color: var(--track-color);
  --circle-color: var(--button-color);
  --circle-margin-left: calc(var(--switch-width) - var(--switch-height));
  box-shadow: 0 2px 4px 0 rgba(82, 229, 38, 0.18);
}

.container > .checkbox_wrapper > .switch > .circle {
  width: var(--switch-height);
  height: var(--switch-height);
  margin-left: var(--circle-margin-left);
  border-radius: calc(var(--switch-height) / 2);
  background-color: var(--circle-color);
  transition-property: background-color, margin-left;
}

.container > .label {
  min-width: 0;
  margin-left: 8px;
  flex-grow: 1;
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
