.wrapper {
  flex-grow: 1;
  overflow-x: hidden;
  min-height: 0;
}

.wrapper:not(._is-loading) {
  --preview-display: none;
  --preview-opacity: 0;
  overflow-y: auto;
}

.wrapper._is-loading {
  --preview-display: block;
  --preview-opacity: 1;
  overflow-y: hidden;
}

.wrapper::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: 0;
  right: 1px;
  top: 0;
  bottom: 0;
  background-image: url('/assets/subscription-preview.svg');
  background-repeat: repeat-y;
  background-size: 100% auto;
  opacity: var(--preview-opacity);
  transition-property: opacity;
  pointer-events: none;
}

.wrapper::after {
  z-index: 2;
  content: "";
  position: absolute;
  left: 0;
  right: 1px;
  top: 0;
  bottom: 0;
  display: var(--preview-display);
  background-color: #fff;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: var(--preview-opacity);
  transition-property: opacity;
  pointer-events: auto;
}

.wrapper > .section {
}

.wrapper > .section > .new_message {
  display: flex;
  align-items: center;
  width: 100%;
  height: 62px;
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
  background-color: var(--divider-color);
}

.wrapper > .section > .new_message > .section {
  --size: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: linear-gradient(#f8f8f8, var(--divider-color));
}

.wrapper > .section > .new_message > .section > i {
  --icon-size: 14px;
  --icon-color: var(--caption-color);
}

.wrapper > .section > .new_message > .section > i polygon {
  fill: var(--icon-color);
  transition-property: fill;
}

.wrapper > .section > .new_message > .title {
  --height: 16px;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  height: var(--height);
  margin-left: 12px;
  margin-bottom: 20px;
  line-height: var(--height);
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper > .section .subscription {
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
}

.wrapper > .section .subscription._is-user-hover {
  background-color: var(--divider-color);
}

@keyframes loading {
  0% {opacity: 0;}
  50% {opacity: 0.3;}
  100% {opacity: 0;}
}