.message-item {
  --message-min-height: 36px;
  display: flex;
  width: 100%;
}

.message-item:not(._is-dropdown-shown):not(:hover) {
  --actions-opacity: 0;
}

.message-item:not(._is-dropdown-shown):hover {
  --actions-opacity: 1;
}

.message-item._is-dropdown-shown {
  --actions-opacity: 1;
}

.message-item.current-user {
  --actions-order: 1;
  --content-order: 2;
  --info-order: 3;
  --message-color: var(--primary-color);
  --message-text-color: #fff;
  justify-content: flex-end;
}

.message-item.opponent-user {
  --actions-order: 3;
  --content-order: 2;
  --info-order: 1;
  --message-color: var(--divider-color);
  --message-text-color: var(--text-color);
  justify-content: flex-start;
}

.message-item.current-user > .actions {

}

.message-item.opponent-user > .actions {
  margin-left: 8px;
}

.message-item > .actions {
  order: var(--actions-order);
  display: flex;
  align-items: center;
  margin-bottom: auto;
  opacity: var(--actions-opacity);
  transition-property: opacity;
}

.message-item.current-user > .actions > .dropdown {
  order: 1;
}

.message-item.current-user > .actions > .button {
  order: 2;
}

.message-item.opponent-user > .actions > .dropdown {
  order: 2;
}

.message-item.opponent-user > .actions > .button {
  order: 1;
}

.message-item > .actions > .dropdown > button {
  --icon-size: 14px;
}

.message-item > .actions > .button {
  --icon-size: 14px;
  --button-padding: 6px;
  font-size: 13px;
}

.message-item.current-user > .content {
  align-items: flex-end;
}

.message-item.opponent-user > .content {
  align-items: flex-start;
}

.message-item.current-user > .content {
  margin-left: 8px;
}

.message-item > .content {
  order: var(--content-order);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  min-width: 0;
}

.message-item > .content:not(:hover) + .info {
  --time-opacity: 0;
}

.message-item > .content:hover + .info {
  --time-opacity: 1;
}

.message-item > .content > .deleted_message_text {
  --height: 36px;
  overflow: hidden;
  max-width: 100%;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-item.opponent-user._is-first > .content .message_block {
  border-bottom-left-radius: 6px;
}
.message-item.opponent-user._is-middle > .content .message_block {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.message-item.opponent-user._is-last > .content .message_block {
  border-top-left-radius: 6px;
}

.message-item.current-user._is-first > .content .message_block {
  border-bottom-right-radius: 6px;
}
.message-item.current-user._is-middle > .content .message_block {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.message-item.current-user._is-last > .content .message_block {
  border-top-right-radius: 6px;
}

.message-item > .content .message_block {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 8px 13px;
  min-height: var(--message-min-height);
  border-radius: 18px;
  background-color: var(--message-color);
}

.message-item > .content .message_block > .message {
  --ref-text-color: var(--message-text-color);
  --ref-message-color: var(--message-color);
  padding-left: 8px;
}

.message-item > .content .message_block > .message + .text {
  margin-top: 8px;
}

.message-item > .content .message_block > .text {
  line-height: 1.3;
  font-size: 15px;
  color: var(--message-text-color);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.04px;
  word-break: break-word;
}

.message-item > .content .message_block > .text > a {
  color: var(--color);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition-property: color;
}

.message-item.current-user > .content .message_block > .text > a:not(:hover) {
  --color: #fff;
}
.message-item.current-user > .content .message_block > .text > a:hover {
  --color: var(--error-color);
}

.message-item.opponent-user > .content .message_block > .text > a:not(:hover) {
  --color: var(--primary-color);
}
.message-item.opponent-user > .content .message_block > .text > a:hover {
  --color: var(--primary-color-hover);
}

.message-item > .content .message_block > .text + .file {
  margin-top: 10px;
}

.message-item > .content .message_block > .file {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-right: auto;
}

.message-item > .content .message_block > .file i {
  --icon-size: 32px;
  --icon-color: var(--message-text-color);
  flex-shrink: 0;
}

.message-item > .content .message_block > .file > .section {
  flex-grow: 1;
  min-width: 0;
  margin-left: 8px;
}

.message-item > .content .message_block > .file > .section > .name {
  --height: 16px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: var(--message-text-color);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-item > .content .message_block > .file > .section > .subcaption {
  --height: 14px;
  display: flex;
  height: var(--height);
  margin-top: 2px;
}

.message-item > .content .message_block > .file > .section > .subcaption > .text {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--message-text-color);
  font-weight: var(--font-weight-light);
  opacity: 0.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-item > .content .message_block > .file > .section > .subcaption > .size {
  position: relative;
  flex-shrink: 0;
  height: var(--height);
  margin-left: 4px;
  padding-left: 8px;
  line-height: var(--height);
  font-size: 13px;
  color: var(--message-text-color);
  font-weight: var(--font-weight-light);
  opacity: 0.5;
}

.message-item > .content .message_block > .file > .section > .subcaption > .size::before {
  --size: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: var(--message-text-color);
  opacity: 0.5;
  transform: translateY(-50%);
}

.message-item > .content .message_block + .image {
  margin-top: 2px;
}

.message-item > .content > .image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 280px;
  border-radius: 18px;
  box-shadow: 0 0 0 1px var(--divider-color);
}

.message-item > .content > .image img {
  max-width: 220px;
}

.message-item.current-user > .info {
  align-items: flex-end;
}

.message-item.opponent-user > .info {
  align-items: flex-start;
}

.message-item > .info {
  flex-shrink: 0;
  position: relative;
  order: var(--info-order);
  display: flex;
  flex-direction: column;
  width: 22px;
}

.message-item.current-user > .info > .time {
  right: 0;
}

.message-item.opponent-user > .info > .time {
  left: 0;
}

.message-item > .info > .avatar {
  --size: 16px;
  --font-size: 11px;
  margin-top: auto;
}

.message-item > .info > .avatar + .mark {
  margin-top: 4px;
}

.message-item > .info > .mark {
  position: relative;
  width: 16px;
  height: 8px;
  margin-top: auto;
}

.message-item > .info > .mark > i {
  --icon-size: 8px;
  --icon-color: var(--primary-color);
  position: absolute;
}

.message-item > .info > .mark > i:nth-of-type(1) {
  left: 6px;
}

.message-item > .info > .mark > i:nth-of-type(2) {
  left: 2px;
}

.message-item > .info > .time {
  --height: 24px;
  z-index: 1;
  position: absolute;
  top: calc((var(--message-min-height) - var(--height)) / 2);
  height: var(--height);
  padding-left: 6px;
  padding-right: 6px;
  line-height: var(--height);
  font-size: 13px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  opacity: var(--time-opacity);
  transition-property: opacity;
}

@media (max-width: 1024px) {
  .message-item > .info > .time {
    display: none;
  }
}