.wrapper {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.wrapper > .modal {
  width: var(--width, 500px);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1), 0 0 0 1px var(--divider-color) inset;
}

.wrapper > .modal > .content {
  padding: var(--layout-padding);
}

.wrapper > .modal > .footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--layout-padding) 10px;
}

.wrapper > .modal > .footer > .button {
  --height: 38px;
  flex-shrink: 0;
}
