.message {
  display: flex;
  align-items: center;
  padding-right: 3px;
  padding-top: 10px;
}

.message .message_content {
  position: relative;
  flex-grow: 1;
  min-width: 0;
  height: 30px;
  padding-left: 8px;
}

.message .message_content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
}

.message .message_content .name,
.message .message_content .text {
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message .message_content .name {
  --height: 12px;
  font-size: 13px;
  color: var(--primary-color);
}

.message .message_content .text {
  --height: 16px;
  margin-top: 2px;
  font-size: 15px;
  color: var(--text-color);
}

.message .message_content .text span {
  font-weight: var(--font-weight-medium);
  font-size: 13px;
}

.message .close {
  --height: 30px;
  --icon-size: 10px;
  flex-shrink: 0;
}
