.typings {
  --height: 15px;
  --padding-top: 5px;
  overflow: hidden;
  height: calc(var(--height) + var(--padding-top));
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  padding-top: var(--padding-top);
  line-height: var(--height);
  font-size: 13px;
  font-weight: var(--font-weight-light);
  color: var(--caption-color);
  background-color: var(--background-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: background-color;
}

.typings:not(._is-typing) {
  --background-color: transparent;
}

.typings._is-typing {
  --background-color: #fff;
}
