:root {
  --font-family-title: 'Ubuntu Mono';
  --font-family-regular: 'Inter';

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-color: #252c43;
  --primary-color: #4a00ff;
  --accent-color: #61e839;
  --divider-color: #edeef1;
  --caption-color: #9ca0b0;
  --error-color: #ff003b;

  --primary-color-hover: #3f0bbd;

  --blue-gradient: linear-gradient(135deg, #7f7fd5, #8187d9 10%, #828fdc 21%, #8498e0 31%, #85a0e3 41%, #86a8e7 52%, #86a8e7 52%, #89b5e7 61%, #8cc2e6 71%, #8ecfe6 81%, #90dde5 90%, #91eae4);
  --green-gradient: linear-gradient(137deg, #00b09b, #47b58b 20%, #63ba7a 40%, #77bf68 60%, #88c454 80%, #96c93d);
  --pink-gradient: linear-gradient(135deg, #bc4e9c, #ca478e 20%, #d73e81 40%, #e33374 60%, #ee2466 80%, #f80759);

  --layout-padding: 20px;
}

@media (max-width: 800px) {
  :root {
    --layout-padding: 12px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-family: var(--font-family-regular), sans-serif;
  font-weight: var(--font-weight-regular);
  background-color: var(--white-color);
  color: var(--text-color);
}

body {
  perspective: 5px;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}

:global(#app) {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

html,
body,
:global(#app) {
  height: 100%;
  min-height: 100%;
}

:global(#app) ~ div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

:global(#app) ~ div > * {
  pointer-events: auto;
}

b, strong, h1, h2 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

::selection {
  color: #fff;
  background-color: var(--primary-color);
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
pre,
p {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:global(.lightbox-backdrop) > :global(.lightbox-title-content) {
  display: none;
}

:global(.lightbox-backdrop) :global(.lightbox-image-container) {
  height: calc(100% - 80px);
}