.subscription {
  display: flex;
  align-items: center;
  padding: 8px var(--layout-padding);
  background-color: var(--background-color);
  transition-property: background-color;
  cursor: pointer;
}

.subscription:not(:global(._is-active)):not(:hover) {
  --background-color: transparent;
}

.subscription:not(:global(._is-active)):hover {
  --background-color: var(--divider-color);
}

.subscription:global(._is-active) {
  --background-color: var(--divider-color);
}

.subscription .photo {
  --size: 50px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-image: var(--photo);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscription .content {
  flex-grow: 1;
  min-width: 0;
  margin-left: 12px;
}

.subscription .content .name {
  --height: 20px;
  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 16px;
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subscription .content .section {
  --section-height: 16px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.subscription .content .section .text {
  overflow: hidden;
  height: var(--section-height);
  line-height: var(--section-height);
  font-size: 14px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subscription .content .section .time {
  position: relative;
  flex-shrink: 0;
  height: var(--section-height);
  margin-left: 8px;
  padding-left: 10px;
  line-height: var(--section-height);
  font-size: 14px;
  color: var(--caption-color);
  font-weight: var(--font-weight-light);
}

.subscription .content .section .time::before {
  --size: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: var(--caption-color);
  transform: translateY(-50%);
}

.subscription .last_photo {
  --size: 14px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-image: var(--photo);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscription .point {
  --size: 12px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: var(--primary-color);
}

.subscription .last_photo + .last_count {
  margin-left: 2px;
}

.subscription .last_count {
  --height: 14px;
  flex-shrink: 0;
  height: var(--height);
  padding-left: 4px;
  padding-right: 4px;
  line-height: var(--height);
  font-size: 12px;
  border-radius: 7px;
  background-color: var(--divider-color);
  color: var(--caption-color);
}
