html {
  --input-height: 46px;
}

.container {
  display: block;
}

.container .title {
  overflow: hidden;
  display: block;
  height: 24px;
  font-size: 16px;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .section {
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px var(--input-box-shadow-color) inset;
  border-radius: var(--input-border-radius);
}

.container .section._is-disabled {
  --input-box-shadow-color: var(--divider-color);
  --input-text-color: rgba(0, 0, 0, 0.5);
  --placeholder-color: var(--divider-color);
  --icon-color: var(--divider-color);
}

.container .section svg {
  flex-shrink: 0;
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
  margin-left: 4px;
}

.container .section svg path {
  fill: var(--icon-color, var(--text-color));
}

.container .section svg circle,
.container .section svg polyline {
  stroke: var(--icon-color, var(--text-color));
}

.container .section svg + .input {
  margin-left: 12px;
}

.container .section .input {
  flex-grow: 1;
  min-width: 0;
  height: var(--input-height);
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  color: var(--input-text-color, var(--text-color));
  border: 0;
  border-radius: 6px;
  background-color: transparent;
}

.container .section .input::placeholder {
  color: var(--placeholder-color, #a0a7b0);
}

.container .section .input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 calc(var(--input-height) / 2) #fff inset;
}

.container .section .input::-webkit-credentials-auto-fill-button {
  background-color: #fff;
}

.container .error {
  display: block;
  overflow: hidden;
  height: 14px;
  margin-top: 4px;
  line-height: 12px;
  font-size: 12px;
  font-weight: var(--font-weight-light);
  color: var(--error-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}
