.messages {
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.messages .header {
  flex-shrink: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.messages .list {
  flex-grow: 1;
  min-height: 0;
}

.messages .typings {
  flex-shrink: 0;
}

.messages .input {
  flex-shrink: 0;
}

.list_loading {
  --bottom: auto;
  height: 200px;
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.1) 100%) !important;
}