.input {
  display: flex;
  align-items: flex-end;
  padding: 8px var(--layout-padding);
}

.input .attach {
  --icon-size: 22px;
  --height: 36px;
  flex-shrink: 0;
  margin-left: calc((((var(--height) - var(--icon-size)) / 2) * -1) - 4px);
}

.input .attach_input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  visibility: hidden;
}

.input .section {
  flex-grow: 1;
  min-width: 0;
  margin-left: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 19px;
  background-color: var(--divider-color);
}

.input .section .message {
}

.input .section .input_wrapper {
  display: flex;
}

.input .section .input_wrapper .input_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.input .section .input_wrapper .input_content textarea {
  width: 100%;
  height: 20px;
  max-height: 120px;
  line-height: 1.3;
  padding: 0;
  resize: none;
  font-weight: var(--font-weight-light);
  font-size: 15px;
  background-color: transparent;
  border: 0;
}

.input .section .input_wrapper .input_content textarea::placeholder {
  color: var(--caption-color);
}

.input .section .input_wrapper .input_content .preview {
  --size: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  margin-top: 6px;
  border-radius: 4px;
  background-color: #dedede;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input .section .input_wrapper .input_content .preview > i {
  --icon-size: 24px;
  --icon-color: var(--caption-color);
  flex-shrink: 0;
}

.input .section .input_wrapper .input_content .preview button {
  --size: 18px;
  z-index: 3;
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.input .section .input_wrapper .input_content .preview button:not(:hover) {
  --icon-color: var(--caption-color);
}

.input .section .input_wrapper .input_content .preview button:hover {
  --icon-color: var(--text-color);
}

.input .section .input_wrapper .input_content .preview button i {
  --icon-size: 8px;
  flex-shrink: 0;
}

.input .section .input_wrapper .input_content .preview .progress {
  --height: 20px;
  z-index: 3;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: 9px;
  color: #fff;
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input .section .input_wrapper .input_content .preview .file_loading {
  --loading-background-color: rgba(0, 0, 0, 0.4);
  --spinner-size: 30px;
  --spinner-section-color: #fff;
  --spinner-border-color: transparent;
}

.input .section .input_wrapper > button {
  --height: 36px;
  flex-shrink: 0;
  height: var(--height);
  max-height: 36px;
  margin-top: auto;
  margin-right: -12px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--color);
  font-weight: var(--font-weight-medium);
  opacity: var(--opacity);
  pointer-events: var(--pointer-events);
  transition-property: color, opacity;
}

.input .section .input_wrapper > button:not(._is-shown) {
  --opacity: 0;
  --pointer-events: none;
}

.input .section .input_wrapper > button._is-shown {
  --opacity: 1;
  --pointer-events: auto;
}

.input .section .input_wrapper > button:not(:hover) {
  --color: var(--primary-color);
}

.input .section .input_wrapper > button:hover {
  --color: var(--primary-color-hover);
}
