.input {
  --input-min-height: 38px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: var(--layout-padding);
  background-color: #fff;
  box-shadow: 0 -2px 8px 0 rgba(196, 200, 210, 0.23);
}

.input > .mentions {
  position: absolute;
  left: var(--layout-padding);
  right: var(--layout-padding);
  top: 0;
  transform: translateY(-100%);
}

.input > .content {
  flex-grow: 1;
  min-width: 0;
}

.input > .content + .icon_button {
  margin-left: 10px;
}

.input > .icon_button {
  --height: var(--input-min-height);
  flex-shrink: 0;
  margin-top: auto;
}

.input > .icon_button i polygon {
  fill: var(--color);
  transition-property: fill;
}

.input > .icon_button + .icon_button {
  margin-left: 12px;
}

.input > .icon_button + .send {
  margin-left: 12px;
}

.input > .send {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--input-min-height);
  height: var(--input-min-height);
  margin-top: auto;
}

.input > .send:not(:hover) {
  --icon-color: var(--caption-color);
}

.input > .send:hover {
  --icon-color: var(--primary-color);
}

.input > .send > i {
  --icon-size: 24px;
}

.input > .send > i polygon {
  fill: var(--icon-color);
  transition-property: fill;
}

@media (max-width: 800px) {
  .input {
    --input-min-height: 34px;
  }

  .input > .icon_button {
    --icon-size: 14px;
  }

  .input > .icon_button + .icon_button {
    margin-left: 8px;
  }

  .input > .icon_button + .send {
    margin-left: 8px;
  }
}