.input {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: var(--layout-padding);
  background-color: #fff;
  box-shadow: 0 -2px 8px 0 rgba(196, 200, 210, 0.23);
}

.input > .content {
  flex-grow: 1;
  min-width: 0;
}

.input > .content + .icon_button {
  margin-left: 10px;
}

.input > .icon_button {
  --height: 38px;
  flex-shrink: 0;
  margin-top: auto;
}

.input > .icon_button i polygon {
  fill: var(--color);
  transition-property: fill;
}

.input > .icon_button + .icon_button {
  margin-left: 12px;
}

.input > .icon_button + .send {
  margin-left: 12px;
}

.input > .send {
  --height: 38px;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--height);
  margin-top: auto;
  padding-left: 4px;
  padding-right: 4px;
  line-height: var(--height);
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  color: var(--color);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.input > .send:not(:hover) {
  --color: var(--primary-color);
}

.input > .send:hover {
  --color: var(--primary-color-hover);
}