.modal_container {
  position: relative;
}

.modal_container > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 800px) {
  .modal_container > * {
    position: fixed;
  }
}
