.wrapper {
  --width: 400px;
  margin-bottom: auto;
}

.modal {
  position: relative;
}

.modal .form {
  --input-height: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.modal .form .input {
  flex-shrink: 0;
  width: 100%;
}

.modal .form .input:nth-of-type(n+2) {
  margin-top: 12px;
}

.modal .form .input input {
  font-size: 15px;
  font-weight: var(--font-weight-light);
  border-radius: 10px;
  background-color: var(--divider-color);
}