html {
  --sidebar-panel-width: 65px;
}

.panel {
  --panel-buttons-size: 50px;
  --panel-buttons-border-radius: 16px;
  --panel-buttons-font-size: 24px;

  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--sidebar-panel-width);
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fcfcfd;
  box-shadow: -1px 0 var(--divider-color) inset;
}

.panel > .divider {
  width: 32px;
  height: 1px;
  background-color: #edeef1;
  margin: 8px auto;
}

.panel > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--background-color);
  transition-property: background-color;
}

.panel > .wrapper > .button {
  width: var(--panel-buttons-size);
  height: var(--panel-buttons-size);
  background-color: #fff;
  border-radius: var(--panel-buttons-border-radius);
  box-shadow: 0 0 0 1px #f3f4f7 inset;
}

.panel > .wrapper > .company {
  --logo-size: var(--panel-buttons-size);
  --logo-border-radius: var(--panel-buttons-border-radius);
  --logo-font-size: var(--panel-buttons-font-size);
}

.panel > .wrapper > i {
  --icon-size: 14px;
}

.panel > .wrapper > i polygon {
  fill: var(--plus-icon-color);
  transition-property: fill;
}

.panel > .wrapper:not(:global(._is-active)):not(:hover) {
  --background-color: transparent;
  --plus-icon-color: var(--caption-color);
}

.panel > .wrapper:not(:global(._is-active)):hover {
  --background-color: transparent;
  --plus-icon-color: var(--text-color);
}

.panel > .wrapper:global(._is-active) {
  --background-color: #f3f4f7;
  --plus-icon-color: var(--text-color);
}

@media (max-width: 800px) {
  html {
    --sidebar-panel-width: 55px;
  }

  .panel {
    --panel-buttons-size: 42px;
    --panel-buttons-border-radius: 10px;
    --panel-buttons-font-size: 18px;
  }

  .panel > .wrapper {
    height: 52px;
  }
}