@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/SFProText/Light/SFProText-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Light/SFProText-Light.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Light/SFProText-Light.woff') format('woff'),
       url('/assets/fonts/SFProText/Light/SFProText-Light.ttf')  format('truetype');
}

@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SFProText/Regular/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Regular/SFProText-Regular.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Regular/SFProText-Regular.woff') format('woff'),
       url('/assets/fonts/SFProText/Regular/SFProText-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/SFProText/Medium/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Medium/SFProText-Medium.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Medium/SFProText-Medium.woff') format('woff'),
       url('/assets/fonts/SFProText/Medium/SFProText-Medium.ttf')  format('truetype');
}

/*@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/SFProText/Semibold/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Semibold/SFProText-Semibold.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Semibold/SFProText-Semibold.woff') format('woff'),
       url('/assets/fonts/SFProText/Semibold/SFProText-Semibold.ttf')  format('truetype');
}*/

@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/SFProText/Bold/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Bold/SFProText-Bold.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Bold/SFProText-Bold.woff') format('woff'),
       url('/assets/fonts/SFProText/Bold/SFProText-Bold.ttf')  format('truetype');
}

/*@font-face {
  font-family: SFProText;
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/SFProText/Heavy/SFProText-Heavy.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SFProText/Heavy/SFProText-Heavy.otf')  format('opentype'),
       url('/assets/fonts/SFProText/Heavy/SFProText-Heavy.woff') format('woff'),
       url('/assets/fonts/SFProText/Heavy/SFProText-Heavy.ttf')  format('truetype');
}*/
