.avatar {
  --default-size: 46px;
  width: var(--size, var(--default-size));
  height: var(--size, var(--default-size));
  line-height: var(--size, var(--default-size));
  font-size: var(--font-size, 19px);
  color: var(--caption-color);
  text-align: center;
  font-weight: var(--font-weight-semibold);
  background-color: #f3f4f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--size, var(--default-size)) / 2);
}