.avatar {
	--default-size: 50px;
	width: var(--size, var(--default-size));
	height: var(--size, var(--default-size));
	line-height: var(--size, var(--default-size));
	font-size: var(--font-size, 15px);
	color: #fff;
	text-align: center;
	background-image: var(--photo);
	background-color: var(--primary-color);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: calc(var(--size, var(--default-size)) / 2);
}
