.forgot {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 0;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #122033;
}

.forgot .logo {
  font-family: var(--font-family-title);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  color: #fff;
}

.forgot .title {
  --height: 40px;
  flex-shrink: 0;
  height: var(--height);
  line-height: var(--height);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: #fff;
}

.forgot .form {
  width: 400px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.forgot .form .input:nth-of-type(n+2) {
  margin-top: 12px;
}

.forgot .form .input + :not(.input) {
  margin-top: 12px;
}

@media (max-width: 700px) {
  .forgot .form {
    width: 100%;
  }
}

