.feed {
  --section-width: 550px;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--layout-padding);
  background-color: #fcfcfd;
}

.feed > .title {
  --height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 19px;
  text-align: center;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feed > .subtitle {
  --height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  font-size: 11px;
  color: var(--caption-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feed > .input_container {
  flex-shrink: 0;
  width: 100%;
  max-width: var(--section-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
}

.feed > .input_container + * {
  margin-top: 12px;
}

@media (max-width: 920px) {
  .feed {
    --section-width: 440px;
  }
}

@media (max-width: 800px) {
  .feed {
    --section-width: 100%;
  }
}