.input_container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.input_container > .section {
  display: flex;
  align-items: center;
  min-height: 58px;
  padding: 10px var(--layout-padding);
}

.input_container > .section > .avatar {
  --size: 38px;
  flex-shrink: 0;
}

.input_container > .section > .input {
  flex-grow: 1;
  min-width: 0;
}

.input_container > .section > .attach {
  --icon-size: 20px;
  --height: 38px;
  flex-shrink: 0;
  margin-left: 12px;
}

.input_container > .section > .action {
  --icon-size: 14px;
  --height: 38px;
  flex-shrink: 0;
}
