.input_container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.input_container > .section {
  display: flex;
  align-items: center;
  min-height: 58px;
  padding: 10px 18px;
}

.input_container > .section > .avatar {
  --size: 38px;
  flex-shrink: 0;
  margin-bottom: auto;
}

.input_container > .section > .content {
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-height: 285px;
  margin-left: 10px;
}

.input_container > .section > .attach {
  --height: 38px;
  --icon-size: 18px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: calc(((var(--height) - var(--icon-size)) / 2) * -1);
  margin-bottom: auto;
}

.input_container > .footer {
  display: flex;
  justify-content: flex-end;
  padding: 30px var(--layout-padding) 12px;
}

.input_container > .footer > .cancel {
  --height: 38px;
}

.input_container > .footer > .post {
  --height: 38px;
  margin-left: 10px;
}
