.file {

}

.file > input {
  position: absolute;
  visibility: hidden;
}

.file .error {
  --height: 14px;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 12px;
  color: var(--error-color);
}
