.task {
  display: flex;
  margin-left: var(--layout-padding);
  margin-right: var(--layout-padding);
  padding-top: 10px;
  padding-bottom: 10px;
}

.task + .task {
  box-shadow: 0 1px var(--divider-color) inset;
}

.task > .circle {
  --size: 18px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 7px;
  box-shadow: 0 0 0 1px var(--primary-color) inset;
}

.task > .text {
  margin-left: 12px;
  margin-right: auto;
  line-height: 1.33;
  color: var(--text-color);
  font-size: 15px;
}

.task > .avatar {
  --size: 19px;
  flex-shrink: 0;
  margin-left: 12px;
}